name: "Build and push Docker image"

on:
  push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  docker:
    if: github.ref_type == 'tag' || !contains(fromJSON('["main", "master"]'), github.ref_name)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2.20.0
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.10.0
      - 
        name: Login to registry ${{ env.REGISTRY }}
        if: github.ref_type == 'tag'
        uses: docker/login-action@v2.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - 
        name: Build and push
        uses: docker/build-push-action@v4.1.1
        with:
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.meta.outputs.tags }} # ${{ github.repository }}:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
